<a href="https://colab.research.google.com/github/ykjoy/mining/blob/main/association.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연관성 분석 (Association Rule)

## 스키용품 구매

In [1]:
! pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)

In [20]:
import pandas as pd
import numpy as np

In [ ]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

dataset = [['보드데크', '부츠', '보호대'], ['부츠', '고글'], ['부츠', '바인딩', '보드데크'], ['보드데크', '부츠', '고글'], ['보드데크', '바인딩'], ['부츠', '바인딩'], ['보드데크', '바인딩'], ['보드데크', '바인딩', '부츠', '보호대'], ['보드데크', '바인딩', '부츠']]

encoder = TransactionEncoder()
np_array = encoder.fit(dataset).transform(dataset)
print(np_array)
df = pd.DataFrame(np_array, columns = encoder.columns_)
display(df)

[[False False  True  True  True]
 [ True False False False  True]
 [False  True  True False  True]
 [ True False  True False  True]
 [False  True  True False False]
 [False  True False False  True]
 [False  True  True False False]
 [False  True  True  True  True]
 [False  True  True False  True]]

      고글    바인딩   보드데크    보호대     부츠
0  False  False   True   True   True
1   True  False  False  False   True
2  False   True   True  False   True
3   True  False   True  False   True
4  False   True   True  False  False
5  False   True  False  False   True
6  False   True   True  False  False
7  False   True   True   True   True
8  False   True   True  False   True

In [ ]:
frequent_itemsets = apriori(df, min_support = 0.35, use_colnames = True)
display(frequent_itemsets)

    support     itemsets
0  0.666667        (바인딩)
1  0.777778       (보드데크)
2  0.777778         (부츠)
3  0.555556  (바인딩, 보드데크)
4  0.444444    (바인딩, 부츠)
5  0.555556   (부츠, 보드데크)

In [ ]:
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(바인딩),(보드데크),0.666667,0.777778,0.555556,0.833333,1.071429,0.037037,1.333333
1,(보드데크),(바인딩),0.777778,0.666667,0.555556,0.714286,1.071429,0.037037,1.166667
2,(부츠),(보드데크),0.777778,0.777778,0.555556,0.714286,0.918367,-0.049383,0.777778
3,(보드데크),(부츠),0.777778,0.777778,0.555556,0.714286,0.918367,-0.049383,0.777778

In [ ]:
association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(바인딩),(보드데크),0.666667,0.777778,0.555556,0.833333,1.071429,0.037037,1.333333
1,(보드데크),(바인딩),0.777778,0.666667,0.555556,0.714286,1.071429,0.037037,1.166667

## 식료품 구매

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
 
 #0/1,  False/True모두 가능
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ITB/asso_product.csv")
display(df.head())

,herring,corned_b,olives,ham,cracker,artichok,heineken,turkey,coke,avocado,apples,peppers,baguette,chicken,bourbon,sardines,soda
0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0
4,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   herring   99 non-null     int64
 1   corned_b  99 non-null     int64
 2   olives    99 non-null     int64
 3   ham       99 non-null     int64
 4   cracker   99 non-null     int64
 5   artichok  99 non-null     int64
 6   heineken  99 non-null     int64
 7   turkey    99 non-null     int64
 8   coke      99 non-null     int64
 9   avocado   99 non-null     int64
 10  apples    99 non-null     int64
 11  peppers   99 non-null     int64
 12  baguette  99 non-null     int64
 13  chicken   99 non-null     int64
 14  bourbon   99 non-null     int64
 15  sardines  99 non-null     int64
 16  soda      99 non-null     int64
dtypes: int64(17)
memory usage: 13.3 KB

In [27]:
frequent_itemsets = apriori(df, min_support = 0.05, use_colnames = True)
display(frequent_itemsets.head(3))
print(frequent_itemsets.shape)

# itemset의 물품수 제한을 두고 싶을 때 
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))  #물품 수를 추가
display(frequent_itemsets.tail(10))  #뒤에를 찍어야 몇개의 물품까지 나오는지 확인됨.
print(frequent_itemsets.shape)

# item set의 물품수를 2개로 제한하고, support를 0.05이상 0.9이하로 설정하여 frequent itemset내 물품을 줄임
frequent_itemsets = frequent_itemsets[ (frequent_itemsets['length'] <=2) & (frequent_itemsets['support'] <= 0.9) ]
print(frequent_itemsets.shape)
display(frequent_itemsets.tail(3))

    support    itemsets
0  0.383838   (herring)
1  0.313131  (corned_b)
2  0.444444    (olives)

(118, 2)

      support                                itemsets  length
108  0.111111        (ham, herring, olives, corned_b)       4
109  0.090909     (apples, herring, olives, corned_b)       4
110  0.090909      (baguette, cracker, herring, soda)       4
111  0.090909  (baguette, avocado, herring, artichok)       4
112  0.111111   (bourbon, cracker, peppers, corned_b)       4
113  0.141414        (bourbon, cracker, olives, soda)       4
114  0.101010         (bourbon, turkey, coke, olives)       4
115  0.080808  (cracker, avocado, artichok, heineken)       4
116  0.090909     (sardines, coke, chicken, heineken)       4
117  0.090909   (baguette, apples, sardines, peppers)       4

(118, 3)
(69, 3)

     support             itemsets  length
66  0.090909     (baguette, soda)       2
67  0.090909  (chicken, sardines)       2
68  0.141414      (bourbon, soda)       2

In [ ]:
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.8 )

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ham),(herring),0.111111,0.383838,0.111111,1.0,2.605263,0.068462,inf
1,(ham),(corned_b),0.111111,0.313131,0.111111,1.0,3.193548,0.076319,inf
2,(ham),(olives),0.111111,0.444444,0.111111,1.0,2.250000,0.061728,inf
3,(turkey),(olives),0.101010,0.444444,0.101010,1.0,2.250000,0.056117,inf
4,(soda),(cracker),0.232323,0.424242,0.232323,1.0,2.357143,0.133762,inf
5,(artichok),(avocado),0.171717,0.171717,0.171717,1.0,5.823529,0.142230,inf
6,(avocado),(artichok),0.171717,0.171717,0.171717,1.0,5.823529,0.142230,inf
7,(chicken),(heineken),0.090909,0.171717,0.090909,1.0,5.823529,0.075298,inf
8,(turkey),(coke),0.101010,0.191919,0.101010,1.0,5.210526,0.081624,inf
9,(turkey),(bourbon),0.101010,0.353535,0.101010,1.0,2.828571,0.065299,inf
10,(chicken),(coke),0.090909,0.191919,0.090909,1.0,5.210526,0.073462,inf
11,(chicken),(sardines),0.090909,0.181818,0.090909,1.0,5.500000,0.074380,inf

In [ ]:
association_rules(frequent_itemsets, metric = 'lift', min_threshold = 5.0 )

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(artichok),(avocado),0.171717,0.171717,0.171717,1.000000,5.823529,0.142230,inf
1,(avocado),(artichok),0.171717,0.171717,0.171717,1.000000,5.823529,0.142230,inf
2,(chicken),(heineken),0.090909,0.171717,0.090909,1.000000,5.823529,0.075298,inf
3,(heineken),(chicken),0.171717,0.090909,0.090909,0.529412,5.823529,0.075298,1.931818
4,(coke),(turkey),0.191919,0.101010,0.101010,0.526316,5.210526,0.081624,1.897868
5,(turkey),(coke),0.101010,0.191919,0.101010,1.000000,5.210526,0.081624,inf
6,(coke),(chicken),0.191919,0.090909,0.090909,0.473684,5.210526,0.073462,1.727273
7,(chicken),(coke),0.090909,0.191919,0.090909,1.000000,5.210526,0.073462,inf
8,(sardines),(chicken),0.181818,0.090909,0.090909,0.500000,5.500000,0.074380,1.818182
9,(chicken),(sardines),0.090909,0.181818,0.090909,1.000000,5.500000,0.074380,inf

## 화장품 구매

In [28]:
import pandas as pd
 
 #0/1,  False/True모두 가능
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ITB/cosmetic.csv")
display(df.head())
print(df.shape)

,Trans. #,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,1,NaN,T,T,T,T,NaN,T,T,T,NaN,NaN,NaN,NaN,T
1,2,NaN,NaN,T,NaN,T,NaN,T,T,NaN,NaN,T,T,NaN,NaN
2,3,NaN,T,NaN,NaN,T,T,T,T,T,T,T,T,T,NaN
3,4,NaN,NaN,T,T,T,NaN,T,NaN,NaN,NaN,T,NaN,NaN,T
4,5,NaN,T,NaN,NaN,T,NaN,T,T,T,T,NaN,T,T,NaN

(1000, 15)

In [33]:
# 데이터 전처리 (거래가 아닌 첫 열 제거, true/false로 변환)
df = df.iloc[:, 1:]
print(df.shape)
df = df.replace('T', True)  #string이 아닌 boolean이나 0/1로 변환

df.fillna(False, inplace = True)  #결측치 NaN으로 표시된 것을 False라고 변경. df를 덥어씀 inplace = True
display(df.head())

(1000, 14)

,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,False,True,True,True,True,False,True,True,True,False,False,False,False,True
1,False,False,True,False,True,False,True,True,False,False,True,True,False,False
2,False,True,False,False,True,True,True,True,True,True,True,True,True,False
3,False,False,True,True,True,False,True,False,False,False,True,False,False,True
4,False,True,False,False,True,False,True,True,True,True,False,True,True,False

In [34]:
# frequent itemset생성
frequent_itemsets = apriori(df, min_support = 0.1, use_colnames=True)
display(frequent_itemsets)

     support                                      itemsets
0      0.363                                       (Blush)
1      0.280                                 (Nail Polish)
2      0.149                                     (Brushes)
3      0.442                                   (Concealer)
4      0.279                                     (Bronzer)
..       ...                                           ...
97     0.116             (Foundation, Lip Gloss, Lipstick)
98     0.156             (Foundation, Lip Gloss, Eyeliner)
99     0.119       (Concealer, Blush, Eye shadow, Mascara)
100    0.114    (Concealer, Eye shadow, Mascara, Eyeliner)
101    0.111  (Lip Gloss, Foundation, Eye shadow, Mascara)

[102 rows x 2 columns]

In [35]:
#frequent_itemsets 물품을 2개로 한정
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))  #물품 수를 추가
display(frequent_itemsets.tail(3))  #뒤에를 찍어야 몇개의 물품까지 나오는지 확인됨.
display(frequent_itemsets)
# item set의 물품수를 2개로 제한하고, support를 0.1이상 0.8이하로 설정하여 frequent itemset내 물품을 줄임
frequent_itemsets = frequent_itemsets[ (frequent_itemsets['length'] <=2) ]
display(frequent_itemsets)
print(frequent_itemsets.shape)

     support                                      itemsets  length
99     0.119       (Concealer, Blush, Eye shadow, Mascara)       4
100    0.114    (Concealer, Eye shadow, Mascara, Eyeliner)       4
101    0.111  (Lip Gloss, Foundation, Eye shadow, Mascara)       4

     support                                      itemsets  length
0      0.363                                       (Blush)       1
1      0.280                                 (Nail Polish)       1
2      0.149                                     (Brushes)       1
3      0.442                                   (Concealer)       1
4      0.279                                     (Bronzer)       1
..       ...                                           ...     ...
97     0.116             (Foundation, Lip Gloss, Lipstick)       3
98     0.156             (Foundation, Lip Gloss, Eyeliner)       3
99     0.119       (Concealer, Blush, Eye shadow, Mascara)       4
100    0.114    (Concealer, Eye shadow, Mascara, Eyeliner)       4
101    0.111  (Lip Gloss, Foundation, Eye shadow, Mascara)       4

[102 rows x 3 columns]

    support                itemsets  length
0     0.363                 (Blush)       1
1     0.280           (Nail Polish)       1
2     0.149               (Brushes)       1
3     0.442             (Concealer)       1
4     0.279               (Bronzer)       1
..      ...                     ...     ...
58    0.167  (Foundation, Lipstick)       2
59    0.238  (Foundation, Eyeliner)       2
60    0.158   (Lip Gloss, Lipstick)       2
61    0.227   (Lip Gloss, Eyeliner)       2
62    0.155    (Eyeliner, Lipstick)       2

[63 rows x 3 columns]

(63, 3)

In [36]:
association_rules(frequent_itemsets, metric = 'confidence', min_threshold = 0.1 )

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Blush),(Nail Polish),0.363,0.280,0.123,0.338843,1.210153,0.021360,1.089000
1,(Nail Polish),(Blush),0.280,0.363,0.123,0.439286,1.210153,0.021360,1.136051
2,(Blush),(Concealer),0.363,0.442,0.220,0.606061,1.371178,0.059554,1.416462
3,(Concealer),(Blush),0.442,0.363,0.220,0.497738,1.371178,0.059554,1.268261
4,(Blush),(Bronzer),0.363,0.279,0.134,0.369146,1.323104,0.032723,1.142895
...,...,...,...,...,...,...,...,...,...
97,(Lipstick),(Lip Gloss),0.322,0.490,0.158,0.490683,1.001394,0.000220,1.001341
98,(Lip Gloss),(Eyeliner),0.490,0.457,0.227,0.463265,1.013710,0.003070,1.011673
99,(Eyeliner),(Lip Gloss),0.457,0.490,0.227,0.496718,1.013710,0.003070,1.013348
100,(Eyeliner),(Lipstick),0.457,0.322,0.155,0.339168,1.053318,0.007846,1.025980
101,(Lipstick),(Eyeliner),0.322,0.457,0.155,0.481366,1.053318,0.007846,1.046982

In [37]:
association_rules(frequent_itemsets, metric = 'lift', min_threshold = 2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Brushes),(Nail Polish),0.149,0.280,0.149,1.000000,3.571429,0.107280,inf
1,(Nail Polish),(Brushes),0.280,0.149,0.149,0.532143,3.571429,0.107280,1.818931
2,(Eye shadow),(Mascara),0.381,0.357,0.321,0.842520,2.359999,0.184983,4.083050
3,(Mascara),(Eye shadow),0.357,0.381,0.321,0.899160,2.359999,0.184983,6.138417